.education {

}

.education-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.education-date {
    padding-right: 1em;
}

.education-details {
    max-width: min(50em, 100%);
}

h3.education-title {
    margin: 0;
}

.education-location {
    color: #20455a;
}
ul.education-topics {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.education-topic {
    margin-right: 0.5em;
    background-color: #418ab3;
    color: white;
    padding: 0.4em;
    border-radius: 1em;
    font-weight: bold;
    margin-bottom: 0.2em;

}

.education-logo {
    height: 1.2em;
    margin-left: 0.5em;
}

.education-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d7e7f0;
    padding-left: 0.5em;
}

.education-description {

}

.education-sub-details {
    padding: 0.5em;
    padding-top: 0.2em;
}
