html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
}

#root {
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

nav.app-nav {
  background-color: #20455a;
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr 1fr min-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 15em;
}

ul.nav-list {
   list-style: none;
   padding-left: 0;
  margin: 2em 0 0;
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.me-container > img {
  width: 5em;
  border: 0.1em solid #418ab3;
}


.app-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.app-submain {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.app-submain > section {
  color: #343a40;
  border-top: solid 1px #20455a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  min-height: 100vh;
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 3em;
  flex-shrink: 0;
}

.app-submain > section:first-child {
  border-top: none;
}

.app-submain > section > h1 {
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 480px) {

  nav.app-nav {
    display: grid;
    width: 75%;
    border-right: 1em #122733 solid;
    border-top: 1px solid #122733;
    grid-template-rows: 1fr min-content;
  }

  ul.nav-list {
    margin-right: 1em;
    justify-content: center;
  }

  ul.nav-list > li {
    margin-left: 1em;
    white-space: nowrap;
  }

  .app-main {
    transition: transform 0.2s;
  }

  .app-submain > section {
    padding: 1em;
  }
}

ul.nav-list > li {
  cursor: pointer;
  color: #d7e7f0;
  opacity: 70%;
}

ul.nav-list > li:hover {
  opacity: 100%;
}

h1, h2, h3, h4, h5, h6, nav {
  margin: 0;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h4 {
  font-weight: normal;
}


.app-icon-country > svg {
  border: solid 2px white;
  width: 1.2em;

}

.app-menu-container {
  border-top: 1px #20455a solid;
  background-color: #20455a;
  color: white;
  padding: 1em;
  display: flex;
}

.app-menu-container.shown {
  border-top: 1px #122733 solid;
}

.app-icon-country {
  font-size: 2em;
  margin-top: 3em;
}
